<div class="page">
<h1>Add Assets</h1>

<div data-ng-controller="addAssetFormController as addAssetFormCtrl">
 <div class="box-container">
     <div class="box left">
         <h2>Organisation/Site/Person</h2>
         <div class="inner-box">

             <div data-ng-controller="assetOSPController as assetOSPCtrl">

                 <div class="row">

                     <div class="left">Functional Org</div>

                     <select id="functionalOrg" data-ng-model="addAssetFormCtrl.functionalOrg.id" ng-change="assetOSPCtrl.getLocations(addAssetFormCtrl.functionalOrg.id)">

                         <option data-ng-repeat="functionalOrg in assetOSPCtrl.functionalOrgs | orderBy:'id' track by $index" value="{{functionalOrg.id}}">
                             {{functionalOrg.id}} - {{functionalOrg.account}}
                         </option>

                     </select>




                 </div>

                 <div class="row">
                     <div class="left">Site/Location</div>

                     <select id="location" data-ng-model="addAssetFormCtrl.location.id" ng-change="assetOSPCtrl.getContacts(addAssetFormCtrl.location.id)">

                         <option data-ng-repeat="location in assetOSPCtrl.locations | orderBy:'id' track by $index" value="{{location.id}}">
                             {{location.id}} - {{location.address6}}
                         </option>

                     </select>

                 </div>

                 <div class="row">
                     <div class="left">Contact</div>

                     <select id="contact" data-ng-model="addAssetFormCtrl.contact.id">

                         <option data-ng-repeat="contact in assetOSPCtrl.contacts | orderBy:'id' track by $index" value="{{contact.id}}">
                             {{contact.id}}
                         </option>

                     </select>

                 </div>

             </div>

         </div>
     </div>

     <div class="box right">
         <h2>Brand/Model/Os</h2>
         <div class="inner-box">
             <div data-ng-controller="assetBMOController as assetBMOCtrl">
             <div class="row">
                 <div class="left">Brand</div>
                 <select id="brand" data-ng-model="addAssetFormCtrl.brand.id">

                     <option data-ng-repeat="brand in assetBMOCtrl.brands | orderBy:'id' track by $index" value="{{brand.id}}">
                         {{brand.id}}
                     </option>

                 </select>
             </div>
             <div class="row">
                 <div class="left">Model</div>
                 <select id="model" data-ng-model="addAssetFormCtrl.model.id">

                     <option data-ng-repeat="model in assetBMOCtrl.models | orderBy:'id' track by $index" value="{{model.id}}">
                         {{model.id}}
                     </option>

                 </select>
             </div>
             <div class="row">
                 <div class="left">OS</div>
                 <select id="os" data-ng-model="addAssetFormCtrl.os.id">

                     <option data-ng-repeat="os in assetBMOCtrl.operatingsystems | orderBy:'id' track by $index" value="{{os.id}}">
                         {{os.id}}
                     </option>

                 </select>
             </div>
         </div>
         </div>
     </div>
 </div>

    <div class="box below">
        <h2>Asset Details</h2>
        <div class="inner-box-below">
                <div class="row">
                    <div class="left" >Serial Number</div>
                    <select name="serial" class="right">
                        <option value="1">Dropdown</option>
                    </select>
                </div>
                <div class="row">
                    <div class="left">Name</div>
                    <select name="name" class="right">
                        <option value="1">Dropdown</option>
                    </select>
                </div>
                <div class="row">
                    <div class="left">Property Type</div>
                    <select id="propertyType" data-ng-model="addAssetFormCtrl.propertyType.id">

                        <option data-ng-repeat="propertyType in assetDetailCtrl.propertyTypes | orderBy:'id' track by $index" value="{{propertyType.id}}">
                            {{propertyType.id}} -  {{propertyType.value}}
                        </option>

                    </select>
                </div>
            <div class="row">
                <div class="left">Host Name</div>
                <select name="hostName" class="under">
                    <option>Dropdown</option>
                </select>
            </div>
            <div class="row">
                <div class="left">Last Ticket</div>
                <select name="ticket" class="under">
                    <option>Dropdown</option>
                </select>
            </div>
        </div>
    </div>


    <div class="button-center"><button type="button" class="btn btn-primary">Save</button></div>


</div>
</div>





