.page{
    width: 86%;
    margin: auto auto;
}

.box {
    width: 48%;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #01507A;
}

.inner-box {
    width: 93%;
    margin: auto auto;
    padding: 10px;
}

.row {
  margin-right: 5%;
  margin-left: 5%;
  padding: 8px 0;
  border-bottom: 1px dashed #D2D2D2;
}

.row .left {
  font-size: 15px;
  margin-top: 8px;
}

h2{
        font-size: large;
           font-weight: bold;
           text-align: center;
           color: white;
           background: #01507A;
           margin: 0;
           padding: 12px;
           border-radius: 4px 4px 0 0;
}

.left{
   float: left;
}

.right{
    float: right;
}

.form-drop {
  width: 60%;
}

h1 {
  font-size: 24px !important;
  font-weight: bold;
}

.box-container {
    height: 253px;
}

.below{
    width: 100%;
    margin: auto auto;
}

.inner-box-below {
    width: 60%;
    margin: auto auto;
}

select{
    float: right;
    width: 60%;
    }

.under{
    margin: auto auto;
}

.button-center {
    text-align: center;
    margin-top: 15px;
}


