.page{
    width: 90%;
    margin: auto auto;
}

.box {
    width: 48%;
    background-color: white;

    border-radius: 4px;
    text-color: black;
     box-shadow: rgba(0,0,0,.5) 5px 5px 30px
}

.inner-box {
    width: 93%;
    margin: auto auto;
    padding: 10px;
}

.row {
    margin-right:5%;
    margin-left: 5%;
    padding: 5px;

}

.row .left {
    font-size: 17px;
}

h2{
        font-size: large;
           font-weight: bold;
           text-align: center;
           color: white;
           background: #01507A;
           margin: 0;
           padding: 10px;
           border-radius: 6px 6px 0 0;
}

.left{
   float: left;
}

.right{
    float: right;
}

.box-container {
    height: 180px;
}

.below{
    width: 100%;
    margin: auto auto;
}

.inner-box-below {
    width: 60%;
    margin: auto auto;
}

select{
    float: right;
    width: 60%;
    }

.under{
    margin: auto auto;
}

.button-center {
    text-align: center;
    margin-top: 15px;
}


