<div class="page">
<h1>Add Assets</h1>

<div data-ng-controller="assetAddController as assetAddCtrl">
 <div class="box-container">
     <div class="box left">
         <h2>Organisation/Site/Person</h2>
         <div class="inner-box">
             <div class="row">

                 <div data-ng-controller="foFormController as foFormCtrl">

                     <div class="left">Functional Org</div>

                     <select data-ng-controller="foController as foCtrl" id="id" data-ng-model="foFormCtrl.functionalOrg.id">

                         <option data-ng-repeat="functionalOrg in foCtrl.functionalOrgs | orderBy:'id' track by $index"
                                 data-ng-controller="foItemController as foItemCtrl" value="{{functionalOrg.id}}">

                             {{functionalOrg.id}} - {{functionalOrg.account}}

                         </option>
                     </select>

                 </div>

             </div>
             <div class="row">
                 <div class="left">Site/Location</div>
                 <select name="location" class="right">
                     <option value="1">Dropdown</option>
                 </select>
             </div>
             <div class="row">
                 <div class="left">Contact</div>
                 <select name="contact" class="right">
                     <option value="1">Dropdown</option>
                 </select>
             </div>
         </div>
     </div>

     <div class="box right">
         <h2>Brand/Model/Os</h2>
         <div class="inner-box">
             <div class="row">
                 <div class="left">Brand</div>
                 <select name="brandName" class="right">
                     <option value="1">Dropdown</option>
                 </select>
             </div>
             <div class="row">
                 <div class="left">Model</div>
                 <select name="modelName" class="right">
                     <option value="1">Dropdown</option>
                 </select>
             </div>
             <div class="row">
                 <div class="left">OS</div>
                 <select name="operatingSystem" class="right">
                     <option value="1">Dropdown</option>
                 </select>
             </div>
         </div>
     </div>
 </div>

    <div class="box below">
        <h2>Asset Details</h2>
        <div class="inner-box-below">
                <div class="row">
                    <div class="left" >Serial Number</div>
                    <select name="serial" class="right">
                        <option value="1">Dropdown</option>
                    </select>
                </div>
                <div class="row">
                    <div class="left">Name</div>
                    <select name="name" class="right">
                        <option value="1">Dropdown</option>
                    </select>
                </div>
                <div class="row">
                    <div class="left">Property Type</div>
                    <select name="propertyType" class="right">
                        <option value="1">Dropdown</option>
                    </select>
                </div>
            <div class="row">
                <div class="left">Host Name</div>
                <select name="hostName" class="under">
                    <option>Dropdown</option>
                </select>
            </div>
            <div class="row">
                <div class="left">Last Ticket</div>
                <select name="ticket" class="under">
                    <option>Dropdown</option>
                </select>
            </div>
        </div>
    </div>


    <div class="button-center"><button type="button" class="btn btn-primary">Save</button></div>


</div>
</div>





