<div data-ng-controller="manageAssetFormController as manageAssetFormCtrl">
    <div class="manage panel panel-default">
        <div class="panel-heading1">Manage Assets</div>
        <div class="panel-body">
            <div data-ng-controller="manageAssetController as manageAssetCtrl">

                <div class="row">
                    <div class="left">Functional Org</div>
                    <select id="functionalOrg" class="right" data-ng-model="manageAssetFormCtrl.asset.functionalOrg.id" ng-change="manageAssetCtrl.getLocations(manageAssetFormCtrl.asset.functionalOrg.id)">
                        <option data-ng-repeat="functionalOrg in manageAssetCtrl.functionalOrgs | orderBy:'id' track by $index"
                                value="{{functionalOrg.id}}">
                            {{functionalOrg.id}} - {{functionalOrg.account}}
                        </option>
                    </select>
                </div>

                <div class="row">
                    <div class="left">Site/Location</div>
                    <select id="location" class="right" data-ng-model="manageAssetFormCtrl.asset.contact.location.id" ng-change="manageAssetCtrl.getContacts(manageAssetFormCtrl.asset.contact.location.id)">
                        <option data-ng-repeat="location in manageAssetCtrl.locations | orderBy:'id' track by $index" value="{{location.id}}">
                            {{location.id}} - {{location.address6}}
                        </option>
                    </select>
                </div>

                <div class="row">
                    <div class="left">Contact</div>
                    <select id="contact" class="right" data-ng-model="manageAssetFormCtrl.asset.contact.id" >
                        <option data-ng-repeat="contact in manageAssetCtrl.contacts | orderBy:'id' track by $index" value="{{contact.id}}">
                            {{contact.id}}
                        </option>
                    </select>
                </div>

            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary" data-ng-click="manageAssetCtrl.postAssets(manageAssetFormCtrl.contact.id)">Search</button>
            </div>
        </div>
    </div>
    <div class="manage panel panel-default">
        <div class="panel-heading">Search Results</div>
        <div class="panel-body">
            <p>Results Will Show Here</p>
            <p>Results Will Show Here</p>
            <p>Results Will Show Here</p>
            <p>Results Will Show Here</p>
        </div>
    </div>

</div>
