<div data-ng-controller="manageAssetFormController as manageAssetFormCtrl">
    <div class="manage panel panel-default">
        <div class="panel-heading1">Manage Assets</div>
        <div class="panel-body">
            <div data-ng-controller="manageAssetController as manageAssetCtrl">
                <div class="row">
                    <div class="left">Functional Org</div>
                    <select id="functionalOrg" class="right"
                            data-ng-model="functionalOrg"
                            ng-options="functionalOrg.account for functionalOrg in manageAssetCtrl.functionalOrgs"
                            ng-change="manageAssetCtrl.getLocations(functionalOrg.id)">
                        <option value="" disabled selected>
                            Select a Functional Organisation
                        </option>
                    </select>
                </div>
                <div class="row">
                    <div class="left">Site/Location</div>
                    <select id="location" class="right"
                            data-ng-model="location"
                            ng-change="manageAssetCtrl.getContacts(location.id);
                            manageAssetFormCtrl.setCurrentLocationId(location.id)"
                            ng-options="location.name for location in manageAssetCtrl.locations">
                        <option value="" disabled selected>
                            Select a Location
                        </option>
                    </select>
                </div>
                <div class="row">
                    <div class="left">Contact</div>
                    <select id="contact" class="right"
                            data-ng-model="contact"
                            ng-change="manageAssetFormCtrl.setCurrentContactId(contact.id)"
                            ng-options="contact.firstName + '&nbsp;' + contact.surname for contact in manageAssetCtrl.contacts">
                        <option value="" disabled selected>
                            Select a Contact
                        </option>
                    </select>
                </div>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary"
                        data-ng-click="manageAssetFormCtrl.getAssets()">
                    Search
                </button>
            </div>
        </div>
    </div>
    <div class="manage panel panel-default">
        <div class="panel-heading">Search Results</div>
        <div class="panel-body">
            <div class="searchResults" data-ng-repeat="asset in manageAssetFormCtrl.assets | orderBy:'id' track by $index" value="{{asset.id}}">
                <button class="btn btn-danger btn-sm glyphicon glyphicon-remove" title="Delete this asset"
                        data-ng-click="manageAssetFormCtrl.deleteAsset(asset.id)"></button>  ID: {{asset.id}} <a ui-sref="home.assetedit({assetId: asset.id})">{{asset.brand.value}} {{asset.model.name}}</a> Contact: {{asset.contact.firstName}} {{asset.contact.surname}}
            </div>
        </div>
    </div>
</div>

