<div data-ng-controller="loginController as loginCtrl">

    <div class="login-container">
        <form name="loginForm">
            <div class="login-heading">Welcome. Login Here</div>

            <input id="username" type="email" name="userEmail" placeholder="Email Address" data-ng-model="loginCtrl.username" required autofocus/>
            <div ng-messages="loginForm.userEmail.$error" ng-if="loginForm.userEmail.$touched" role="alert">
                <p ng-message="email">This is not a valid email!</p>
                <p ng-message="required">Email is Required!</p>
            </div>

            <input id="password" type="password" name="userPassword" placeholder="Password" data-ng-model="loginCtrl.password" ng-minlength="6" required/>
            <div ng-messages="loginForm.userPassword.$error" ng-if="loginForm.userPassword.$touched" role="alert">
                <p ng-message="minlength">Password is too short!</p>
                <p ng-message="required">Password is Required!</p>
            </div>

            <button id="login" class="login-submit" ng-disabled="loginForm.$invalid" data-ng-click="loginCtrl.login()">Login</button>
        </form>
        <div class="copyright">Atos(C) 2016</div>

    </div>
</div>
