.login-background {
    background-color: #01507A !important;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.login-container {
  padding: 20px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  border: 1px solid #e7e7e7;
  margin: 100px auto;
  border-radius: 20px;
  overflow: hidden;
}

.login-heading {
   text-align: center;
  font-size: 20px;
  font-weight: 700;
  height: 36px;
  margin-top:10px;
  margin-bottom: 10px;
}

.login-container input[type=email], input[type=password] {
  border-radius: 5px;
  height: 44px;
  font-size: 16px;
  width: 100%;
  background: #e7e7e7;
  border: 1px solid #cccccc;
}

input[type="email"]:hover, input[type="password"]:hover{
 	border:1px solid #a6a6a6;
 }

.login-container p {
    margin-top: none;
    text-align: center;
    color: red;
    font-size: 12px;
}

.login-submit {
  margin-top: 0px;
  border:none;
  font-weight: bold;
  border-radius: 8px;
  width: 100%;
  color: #fff;
  background-color: #01507A;
  padding: 17px 0px;
  font-size: 14px;
}

.login-submit:active {
  position: relative;
   top: 1px;
}

.copyright {
margin-top: 15px;
font-size: 8pt;
text-align: center;
  }