<div class="home" data-ng-controller="homeController as homeCtrl">
    <header>
        <ul class="nav nav-tabs">
            <li data-ng-class="{'active': homeCtrl.isAtDashboard()}"><a data-ng-click="homeCtrl.navigateToDashboard()">Dashboard</a></li>
            <li data-ng-class="{'active': homeCtrl.isAtAsset()}"><a data-ng-click="homeCtrl.navigateToManageAsset()">Manage Asset</a></li>
            <li data-ng-class="{'active': homeCtrl.isAtAssetAdd()}"><a data-ng-click="homeCtrl.navigateToAssetAdd()">Add Asset</a></li>
            
            <li class="navbar-right right-nav-tab"><a data-ng-click="homeCtrl.logout()">Logout</a></li>
        </ul>

    </header>

    <div class="content container-fluid" data-ui-view="home-content"></div>
</div>

