<div class="dashboard panel panel-default" data-ng-controller="dashboardController as dashboardCtrl">
    <div class="panel-heading">Welcome to the WSDS Asset Management System</div>
    <div class="panel-body">
        <p>
            The WSDS angular client application presents a consolidated view and management facility for assets on a WSDS estate.
        </p>
        <p></p>
            <div class="container-fluid">
                <div class="row">
                    <aside class="col-sm-9">
                        <ul class="option-list">
                            <li>To add a new asset to the system see the <b>Add Asset</b> tab</li>
                        </ul>
                    </aside>
                    <aside class ="col-sm-3">
                        <div class="add-button">
                            <button class="btn btn-primary" title="goToAdd" data-ng-click="homeCtrl.navigateToAssetAdd()">Add Asset</button>
                        </div>
                    </aside>
                </div>
                 <div class="row">
                     <aside class="col-sm-9">
                        <ul class="option-list">
                            <li>To manage your existing assets see the <b>Manage Assets</b> tab</li>
                        </ul>
                     </aside>
                     <aside class ="col-sm-3">
                        <div class="manage-button">
                            <button class="btn btn-primary" title="goToManage" data-ng-click="homeCtrl.navigateToManageAsset()">Manage Asset</button>
                        </div>
                    </aside>
                </div>
            </div>
        </div>

    </div>
</div>

